body {
    background-color: #2980b9;
    color: #ffff;
    text-align: center;
    margin-top: 20%;
    font-size: 20px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    font-family: cursive;
}